*
{
    margin: 0;
}
#startGameButtonSvg
{
    margin: 15px auto 0 auto;
    display: block;
}
.gameField
{
    background-color: lightblue;    
    height: 100vh;
    box-sizing: border-box;
    padding: 50px 0 0 0 ;
    text-align: center;    
}
#blocksSvg{
    display: block;
    margin: 220px auto 0 auto;
}
#blocks
{
    text-align: center;
    font-size: 0;        
}
.block
{
    display: inline-block;
    background-color: blue;
    width: 100px;
    height: 100px;
    font-size: 50px;
    position: relative;           
    border: 3px solid black;
}
.block:not(:first-child){
    border-left: 0px;
}
.block p
{
    position: absolute;
    top: 50%;
    transform:translate(0,-50%);
    width: 100%;
    text-align: center;
    color: white;
}
#button
{        
    width: 500px;
    height: 100px;
    background-color: green;
    color: white;
    margin: 80px auto 0px auto;
    text-align: center;
    font-size: 36pt;
    border-radius: 10px;
}
#button p
{
    line-height: 100px;
}
.startGameLabel{
    font-family: Times New Roman, sans-serif;
    font-size: 36pt;
    fill: white;
}
.numberBlock{
    font-family: Times New Roman, sans-serif;
    font-size: 36pt;
    fill: white;
}
.svgRect
{
    stroke: black;
    stroke-width: 2;
}